header {
    background-color: $primary-color;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    @media (max-width: 575px) {
        .text-center {
            text-align: left !important;
            margin-top: -3.6rem;
        }

        .btnClearAll {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translateY(calc(-100% - 0.2rem));
        }
    }

    .navbar-brand {
        font-size: 1.8rem;

        @media (max-width: 575px) {
            position: relative;
            left: 50%;
            transform: translateX(calc(-50% + 10px));
        }

        @media (max-width: 420px) {
            font-size: 1.5rem;
        }

        @media (max-width: 400px){
            left: 0;
            transform: none;
        }
    }

    @media (max-width: 500px){
        #time{
            span{
                display: none;
            }
        }
    }

    @media (max-width: 420px) {
        .time {
            font-size: 2rem !important;
            position: relative;
            top: 0.4rem;
        }
    }

    @media (max-width: 400px){
        span#time{
            display: none;
        }
    }

}