.toggle {
    border-color: transparent !important;
    // .toggle-group{
    //     transition: none !important;
    // }
    .btn , &.btn{
        background: none !important;
        color: inherit !important;
        // border: 0 !important;
        &.toggle-off{
            border: 1px solid red;
            color:  red !important;
        }
        &.toggle-on{
            border-color: $primary-color !important;
            color:  #fff !important;
            background-color: $primary-color !important;
        }
    }
    
    .toggle-handle {
        display: none !important;
    }
}